body {
    background-color: rgb(122, 43, 43);
    width: 100%;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.editor {
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.preview {
    color: rgb(210, 206, 198);
    width: 100%;
}

.preview img {
    width: 300px;
}